<?xml version="1.0"?>
<XmlSettingsOfHttpFarcardClientSettings>
  <Settings>
    <LogLevel>5</LogLevel>
    <Address>http://localhost:8080</Address>
    <Json>true</Json>
    <GetCardInfoEx>getcardinfoex.php</GetCardInfoEx>
    <TransactionsEx>transactionsex.php</TransactionsEx>
    <FindEmail>findemail.php</FindEmail>
    <GetCardImageEx>getcardimageex.php</GetCardImageEx>
    <ProxySettings>
      <UseProxy>false</UseProxy>
      <BasicAuthentication>false</BasicAuthentication>
      <Server>127.0.0.1</Server>
      <Port>9944</Port>
      <Username />
      <Password />
    </ProxySettings>
  </Settings>
</XmlSettingsOfHttpFarcardClientSettings>