<?xml version="1.0"?>
<XmlSettingsOfHttpFarcardServerSetting>
  <Settings>
    <LogLevel>5</LogLevel>
    <Port>8080</Port>
    <AnswerEncoding>65001</AnswerEncoding>
    <GetCardInfoEx>getcardinfoex.php</GetCardInfoEx>
    <TransactionsEx>transactionsex.php</TransactionsEx>
    <FindEmail>findemail.php</FindEmail>
    <GetCardImageEx>getcardimageex.php</GetCardImageEx>
  </Settings>
</XmlSettingsOfHttpFarcardServerSetting>